body {
    background: red;
}
main    {
    background-image: url("images/hero-image.jpg");
    background-size: cover;
    height :800px;
}
nav {
    background: transparent !important;
    position: absolute !important;
    margin-top : 50px;
    right : 10px;
}